.modal
  .modal-background
  .modal-content
    img(src="img/img3.png")
    .h.tit3.center PLAN ASK 1,2,3
    strong sajhdjkabsjk askhdksadksaahj
      .content.box-contact
        //a.button.boton-contact Contactanos
  button.modal-close
